<!-- src/app/checkout/checkout.component.html -->
<app-notification [message]="notificationMessage"></app-notification>
<div class="checkout-container">
  <h2>Checkout</h2>
  <div class="checkout-content">
    <div class="checkout-form-container">
      <form [formGroup]="checkoutForm" (ngSubmit)="submitOrder()" class="checkout-form">

        <section class="lieferadresse-section">
          <h3>Lieferadresse</h3>
          <div class="form-group">
            <label for="country">Land:</label>
            <select id="country" formControlName="country" required>
              <option value="Germany">Deutschland</option>
              <option value="Austria">Österreich</option>
              <option value="Switzerland">Schweiz</option>
              <option value="France">Frankreich</option>
              <!-- Add more countries as needed -->
            </select>
          </div>
          <div class="form-group">
            <label for="addressfirstName">Vorname:</label>
            <input type="text" id="addressfirstName" formControlName="addressfirstName" required>
          </div>
          <div class="form-group">
            <label for="addresslastName">Nachname:</label>
            <input type="text" id="addresslastName" formControlName="addresslastName" required>
          </div>
          <div class="form-group">
            <label for="postalCode">PLZ:</label>
            <input type="text" id="postalCode" formControlName="postalCode" required>
          </div>
          <div class="form-group">
            <label for="street">Straße:</label>
            <input type="text" id="street" formControlName="street" required>
          </div>
          <div class="form-group">
            <label for="city">Stadt:</label>
            <input type="text" id="city" formControlName="city" required>
          </div>
          <div class="form-group">
            <label for="houseNumber">Hausnummer:</label>
            <input type="text" id="houseNumber" formControlName="houseNumber" required>
          </div>
        </section>
        <section class="zahlungsmethode-section">
          <h3>Zahlungsmethode</h3>
          <div class="form-group">
            <label for="paymentMethod">Zahlungsmethode:</label>
            <select id="paymentMethod" formControlName="paymentMethod" required>
              <option value="Credit Card">Kreditkarte</option>
              <option value="PayPal">PayPal</option>
              <option value="Bank Transfer">Banküberweisung</option>
            </select>
          </div>
        </section>
        <button type="submit" class="submit-button" [disabled]="!checkoutForm.valid">Bestellung abschließen</button>      </form>
    </div>
    <!-- src/app/checkout/checkout.component.html -->
    <div class="cart-summary">
      <h3>Warenkorb</h3>
      <ul>
        <li *ngFor="let item of orderDetails.items">
          <div class="item-row">
            <span class="item-quantity">{{ item.quantity }}x</span>
            <span class="item-details">{{ item.name }}</span>
            <span class="item-price" [style.color]="item.quantity > 1 ? 'grey' : 'black'">{{ item.price | customCurrency }}</span>
          </div>
          <div *ngIf="item.quantity > 1" class="item-subtotal"> {{ (item.quantity * item.price) | customCurrency }}</div>
        </li>
      </ul>
      <p>Gesamtpreis: {{ orderDetails.total | customCurrency }}</p>
    </div>
  </div>

  <!-- Modal for order confirmation -->
  <div class="modal" *ngIf="isModalOpen" (click)="toggleModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <span class="close" (click)="toggleModal()">&times;</span>
      <h2>Bestellung bestätigen</h2>
      <p>Möchten Sie die Bestellung wirklich abschließen?</p>
      <div class="modal-buttons">
        <button class="confirm" (click)="confirmOrder()">Ja</button>
        <button class="cancel" (click)="toggleModal()">Nein</button>
      </div>
    </div>
  </div>
</div>
