<nav class="app-navbar">
  <a href="/" class="nav-link">Produkte</a>
  <input type="text" [(ngModel)]="searchTerm" (keydown)="onSearchTermChange($event)" placeholder="Produkte suchen..." class="search-input">
  <button *ngIf="!firstName" (click)="navigateToLogin()" class="nav-link">Login</button>
  <div *ngIf="firstName" class="nav-link" (click)="toggleDropdown()">
    Willkommen, {{ firstName }}
    <span class="dropdown-arrow">&#9662;</span>
    <div *ngIf="isDropdownVisible" class="dropdown-menu">
      <button (click)="navigateToProfile()">Profil</button>
      <button (click)="logout()">Logout</button>
    </div>
  </div>
  <a href="/cart" class="nav-link">Warenkorb</a>
</nav>
<main class="app-content">
  <div class="content-wrapper">
  <router-outlet></router-outlet>
  <footer class="app-footer">
    © 2023 Mein Shop
  </footer>
  </div>
</main>

