:host{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background-color: #007bff;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  z-index: 1000; /* Ensure the navbar is above other content */
}

main {
  flex: 1; /* Take up the remaining space */
  margin-top: 60px; /* Adjust based on the height of the navbar */
  overflow-y: auto;
  overflow-x: hidden;
}
.content-wrapper{
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.app-footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  flex-shrink: 0;  /*Ensure the footer does not shrink*/
  margin-top: auto;  /*Push the footer to the bottom*/
}

.app-navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e0e0e0;
}

.nav-link {
  padding: 10px 20px;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
}

.nav-link:hover {
  background-color: #0056b3;
}

.search-input {
  flex-grow: 1;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.app-content {
  flex: 1;
}



.dropdown-arrow {
  margin-left: 10px;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown-menu button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-menu button:hover {
  background-color: #f1f1f1;
}
