nav {
  background-color: #007bff;
  color: white;
  padding: 10px;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}


.app-navbar {
  display: flex;
  justify-content: space-between;

  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e0e0e0;

}

.nav-link {
  padding: 10px 20px;
  text-decoration: none;
  background-color: #007bff;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}

.nav-link:hover {
  background-color: #0056b3;
}

.search-input {
  flex-grow: 1;
  max-width: 400px;
  padding: 10px;
  margin: 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.app-content {
  margin-top: 20px;
  padding: 0 30px;
  flex: 1;
}

.app-footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  margin-top: 20px; /* Add margin to create space above the footer */
}

.search-input, select {

}

.search-input {
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* src/app/app.component.css */
.welcome {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.welcome:hover {
  background-color: #0056b3;
}

.dropdown-arrow {
  margin-left: 10px;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown-menu button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-menu button:hover {
  background-color: #f1f1f1;
}
