<!-- src/app/user-profile/user-profile.component.html -->
<div class="user-profile-container">
  <h2>Kundenprofil</h2>

  <!-- Kundendaten Section -->
  <section class="kundendaten-section">
    <div class="section-header">
      <h3>Kundendaten</h3>
      <i *ngIf="!isEditing" class="fa fa-pencil edit-icon" (click)="toggleEdit()"></i>
      <i *ngIf="isEditing" class="fa fa-times edit-icon" (click)="toggleEdit()"></i>
    </div>
    <form (ngSubmit)="onSubmit()" #profileForm="ngForm">
      <ul class="profile-list">
        <li class="form-group">
          <label for="firstName">Vorname:</label>
          <input type="text" id="firstName" [(ngModel)]="user.firstName" name="firstName" [disabled]="!isEditing" required>
        </li>
        <li class="form-group">
          <label for="lastName">Nachname:</label>
          <input type="text" id="lastName" [(ngModel)]="user.lastName" name="lastName" [disabled]="!isEditing" required>
        </li>
        <li class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" [(ngModel)]="user.email" name="email" [disabled]="!isEditing" required>
        </li>
      </ul>
      <p *ngIf="message">{{ message }}</p>
      <button *ngIf="isEditing" type="button" [disabled]="!profileForm.form.valid" (click)="showPasswordModal()">Speichern</button>
    </form>
  </section>

  <!-- Sicherheit Section -->
  <section class="sicherheit-section">
    <h3>Sicherheit</h3>
    <div class="form-group">
      <label>Passwort:</label>
      <button class="toggle-button" (click)="toggleChangePasswordModal()">Passwort ändern</button>
    </div>

    <!-- Change Password Modal -->
    <div class="modal" *ngIf="showChangePasswordModal" (click)="toggleChangePasswordModal()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <span class="close" (click)="toggleChangePasswordModal()">&times;</span>
        <h3>Passwort ändern </h3>
        <form (ngSubmit)="onChangePassword()" #passwordForm="ngForm">
          <div class="modal-group-form-group">
            <label for="oldPassword">Altes Passwort:</label>
            <input type="password" id="oldPassword" [(ngModel)]="oldPassword" name="oldPassword" required>
          </div>
          <div class="modal-group-form-group">
            <label for="newPassword">Neues Passwort:</label>
            <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
          </div>
          <div class="modal-group-form-group">
            <label for="confirmNewPassword">Neues Passwort bestätigen:</label>
            <input type="password" id="confirmNewPassword" [(ngModel)]="confirmNewPassword" name="confirmPassword" required>
          </div>
          <p *ngIf="message">{{ message }}</p>
          <button class="change-password-button" type="submit" [disabled]="!passwordForm.form.valid || newPassword !== confirmNewPassword">Änderung abschließen</button>
        </form>
      </div>
    </div>
  </section>

  <!-- Password Confirmation Modal -->
  <div class="modal" *ngIf="showPasswordConfirmationModal" (click)="togglePasswordConfirmationModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <span class="close" (click)="togglePasswordConfirmationModal()">&times;</span>
      <h3>Zum Speichern Ihrer Daten, verifizieren Sie bitte Ihr Passwort</h3>
      <form (ngSubmit)="onConfirmPassword()" #confirmPasswordForm="ngForm">
        <div class="modal-group-form-group">
          <label for="confirmOldPassword">Passwort:</label>
          <input type="password" id="confirmOldPassword" [(ngModel)]="password" name="confirmPassword" required>
        </div>
        <button class="confirm-password-button" type="submit" [disabled]="!confirmPasswordForm.form.valid">Bestätigen</button>
      </form>
    </div>
  </div>
</div>
